<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp">
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Main Activity Fragments -->
        <activity
            android:name=".homeActivity.RecommendRecipeItemActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity>
        <activity
            android:name=".homeActivity.RecommendRecipeReviewActivity"
            android:parentActivityName=".homeActivity.RecommendRecipeItemActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".homeActivity.RecommendRecipeItemActivity" />
        </activity>

        <!-- Profile Activities -->
        <activity
            android:name=".accountActivity.EditAgeActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity>
        <activity
            android:name=".accountActivity.EditPasswordActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity>
        <activity
            android:name=".accountActivity.EditUsernameActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity>
        <activity
            android:name=".accountActivity.EditBioActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity>
        <activity
            android:name=".accountActivity.EditNameActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".accountActivity.ProfileFragment" />
        </activity> <!-- Profile Activity END -->
        <!-- Recipe Activity -->
        <activity
            android:name=".myRecipeActivity.RecipeItemActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".myRecipeActivity.AddReviewActivity"
            android:parentActivityName=".myRecipeActivity.RecipeItemActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".myRecipeActivity.RecipeItemActivity" />
        </activity> <!-- Recipe Activity END -->
        <!-- Genre Activity -->
        <activity
            android:name=".genreActivity.GenreItemActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".genreActivity.GenreRecipeItemActivity"
            android:parentActivityName=".genreActivity.GenreItemActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".genreActivity.GenreItemActivity" />
        </activity>
        <activity
            android:name=".genreActivity.GenreRecipeItemReviewActivity"
            android:exported="false"
            android:parentActivityName=".genreActivity.GenreRecipeItemActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".genreActivity.GenreRecipeItemActivity" />
        </activity> <!-- Genre Activity END -->
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Login and signup activities -->
        <activity
            android:name=".loginActivity.SignUpActivity"
            android:parentActivityName=".loginActivity.LoginActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".loginActivity.LoginActivity" />
        </activity>
        <activity
            android:name=".loginActivity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>